body{

font-family: "Lucida Sans Grande";
color: #333;

}
#cabeca{
  text-align: center;
}

.menu-opcoes ul{
      font-size: 15px;
      font-weight: bold;
}

.menu-opcoes a{
      color: red;
}

.menu-opcoes{
      position: absolute;
      right: 0;
      bottom: 0;
}

.sacola{
      background-image: url(../img/sacola.png);
      background-repeat: no-repeat;
      background-position: right top;
      width: 140px;
      padding-right: 35px
}

.menu-opcoes ul li{
    display: inline;
    margin-left: 20px;
}

.sacola {
  padding-top: 8px;
  position: absolute;
  right: 0;
  top: 0;

}

header{
  position: relative;

}

.container{
  margin: 0 auto;
  width: 940px;

  }

  .busca,
  .menu-departamentos{
      background-color: #DCDCDC;
      font-weight: bold;
      text-transform: uppercase;
      margin-right: 10px;
      width: 230px;
  }

.busca h2,
.busca form,
.menu-departamentos h2{
  margin:10px;
}


.menu-departamentos a {
      color: #333333;
      text-decoration: none;
}

.menu-departamentos li{
  background-color: white;
  margin-bottom: 1px;
  padding: 5px 10px;
}

.busca,
.menu-departamentos{
      float: left;
}

.menu-departamentos{
    clear: left;
}

.banner-destaque{
  margin-top: 10px;

}

.menu-departamentos{
  margin-top: 10px;
  padding-bottom: 10px;

}

.mais_vendidos{
  float: right;
  background-color: yellow;
}

.novidades{
  float: left;
  background-color: pink;

}

.painel li{
  display: inline-block;
  vertical-align: top;
  width: 140px;

  margin: 2px;
  padding-bottom: 10px;
}

.painel{
  marign: 10px 0;
  width: 445px;
  padding: 10px;
}

.painel h2{
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.painel a{
  color: #333;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
}

.novidades{
  background: #F5DCDC;
}

.mais_vendidos{
  background-color: #DCFC5;
}


footer{
  background-image: url(../img/fundo-rodape.png);
  padding: 20px 0;
  clear: both;
  }


footer .container{
  position: relative;
}

.social{
  position: absolute;
  top: 12px;
  right: 0px;
}

.social a[href*="facebook"]{
    background-image: url(../img/facebook.png);
}

.social a[href*="twitter"]{
    background-image: url(../img/twitter.png);
}

.social a[href*="google"]{
    background-image: url(../img/googleplus.png);
}

.social a{
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
  text-indent: -9999px;
}

.social li{
    float: left;
    margin-left: 25px;
}
